[submodule "pi-expansion/library"]
	path = pi-expansion/library
	url = https://github.com/freetronics/freetronics_kicad_library.git
[submodule "pi-expansion/A2200-A"]
	path = pi-expansion/A2200-A
	url = git@github.com:ElectricGears/Maestro-GPS-Receivers-Board.git
[submodule "pi-expansion/myriadrf"]
	path = pi-expansion/myriadrf
	url = git@github.com:myriadrf/component-libraries.git
